In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt

Carregando e explorando a base de dados

In [2]:
from sklearn.datasets import load_iris
data = load_iris() #Carrega a base de dados
iris = pd.DataFrame(data['data'], columns=data.feature_names) #Cria um dataframe com os dados carregados
iris['target'] = data.target #Adiciona coluna 'target' com as classes das espécies de íris

In [3]:
iris.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0

In [4]:
iris.describe()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
count,150.000000,150.000000,150.000000,150.000000,150.000000
mean,5.843333,3.057333,3.758000,1.199333,1.000000
std,0.828066,0.435866,1.765298,0.762238,0.819232
min,4.300000,2.000000,1.000000,0.100000,0.000000
25%,5.100000,2.800000,1.600000,0.300000,0.000000
50%,5.800000,3.000000,4.350000,1.300000,1.000000
75%,6.400000,3.300000,5.100000,1.800000,2.000000
max,7.900000,4.400000,6.900000,2.500000,2.000000

In [5]:
iris.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  150 non-null    float64
 1   sepal width (cm)   150 non-null    float64
 2   petal length (cm)  150 non-null    float64
 3   petal width (cm)   150 non-null    float64
 4   target             150 non-null    int32
dtypes: float64(4), int32(1)
memory usage: 5.4 KB

Criando o modelo SVC

In [6]:
from sklearn.model_selection import cross_val_score
from sklearn.svm import SVC

svc = SVC(gamma='auto') #Cria instância do SVM

In [7]:
#Separando características (X) e alvo (y)
X = iris.drop('target', axis=1) #Todas as colunas, exceto 'target'
y = iris['target'] #Coluna 'target', valor que queremos prever

In [8]:
#Executando a validação cruzada
cv_result = cross_val_score(svc, X, y, cv=10, scoring='accuracy')
print('Acurácia com Cross Validation:', cv_result.mean()*100)

Acurácia com Cross Validation: 98.00000000000001

Treinando o modelo e predição

In [17]:
svc.fit(X,y)
svc.predict([[6.9,2.8,6.1,2.3]]) #Predição

c:\Users\luizf\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but SVC was fitted with feature names
  warnings.warn(

array([2])